
:root {
    --black: rgba(0, 0, 0, 1);
    --text: rgba(255, 255, 255, 1);
    --blue: rgba(29, 155, 240, 1);
    --hover: rgba(22, 22, 22, 1);
    --gray: rgba(110, 118, 125, 1);
    --border-color: rgba(47, 51, 54, 1);
    --trends-color: rgba(32, 35, 39, 1);
  }

  /* div{ */
    /* border: 1px solid white !important; */
  /* } */


ul li{
  list-style: none;
}
  .avatar-follow{
    padding: 0px;
    margin: 0px;
  }


  .avatar-follow img{
    width: 40px;
    height: 40px;
    /* border-radius: ; */
}

 
  .btnNavigation{
    padding :   10px 40px;
    margin : 20px 15px;
  }

  .showmore-btn .show-more{
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: relative;
  }

  .showmore-btn .text-wrapper{
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 700;
    color:var(--blue);
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space:nowrap;
  }


  .trends-seting{
    margin-right: 0px;
  }

  .trends P{
    font-size: 14px;
    color: #646464
  }

 

  .TrendItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius:10px;
    background-color:#16181c;
    padding: 10px;

  }
  .TrendItems p, .TrendItems div{
    background-color:#16181c;
    font-size: 13px;
  }


  .TrendCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 30px;
    background-color:#16181c;
    color: #D9D9D9;
  }


.textProfilSidebar{

  font-size: 14px;
position: absolute;
top: 12px;
left: 20px;

font-weight: 500;
color: var(--text);
letter-spacing: 0;
line-height: normal;
border : 1px solid black;

}

.menu-button-normal-magine{
    margin-top: 100px; 
    position: relative;
    width: 251px;
    height: 50px;
    border-radius: 50px;
    box-sizing: border-box; 
    border : 1px solid black;
    font-weight: 700;
    color: var(--text);
    font-size: 15px;
}


  .sidebar{

    position: sticky;
    height: 100%;
    top : 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap:50px;
    /* color : red; */
  }


  .menu-button-normal {
    position: relative;
    width: 251px;
    height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    border : 1px solid black;
  }


 .menu-button-normal .icons-home-fill {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 13px;
  border : 1px solid black;
}

.menu-button-normal .text-wrapper {
  position: absolute;
  top: 12px;
  left: 57px;
  font-weight: 700;
  color: var(--text);
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border : 1px solid black;
}





























































































































