
:root {
  --black: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --blue: rgba(29, 155, 240, 1);
  --hover: rgba(22, 22, 22, 1);
  --gray: rgba(110, 118, 125, 1);
  --border-color: rgba(47, 51, 54, 1);
  --trends-color: rgba(32, 35, 39, 1);
}

/* div{ */
  /* border : 1px solid blue */
/* } */

.contentTrends{
  background-color: black;
  color: white;
  margin-left: 20px;
  margin-right: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tweet-details p{
  color: #646464;
}


.trends{
  display: flex;
  background-color:#16181c;
  justify-content: space-between;
  height : 100%;
 position: sticky;
 top:-380px;
 bottom: 0;
}
.form-control {
  background-color:#16181c;
  color: #fff;
  border: 1px solid #333;
  padding: 10px;
  font-size: 16px;
  border-radius : 20px;
  margin: 30px 30px 30px 30px;
}
  
.form-control:focus {
  background-color: #333;
  color: #fff;
}

.content{
  width: 308px;
  align-items: flex-start;
  
}

.content .subtitle{
  margin-top: -1px;
  font-weight: 400px;
  color : var(--gray);
  font-size: 13px;
  line-height: normal;
  letter-spacing: 0;
}

.btnWhiteTweet{
  color: black;
  text-transform: capitalize;
  padding: .3rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 1rem;
  
}

.tweet-follow{
  display: flex;
}

.tweet-title-follow{
  display: flex;
  align-items: center;
}



.profil-follow{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #2F3336;
}





  